aiohttp==3.9.5
aiomysql==0.2.0
aiosignal==1.3.1
attrs==23.2.0
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
dateparser==1.2.0
fonttools==4.51.0
frozenlist==1.4.1
idna==3.7
kiwisolver==1.4.5
loguru==0.7.2
matplotlib==3.8.4
multidict==6.0.5
nextcord==2.6.0
numpy==1.26.4
packaging==24.0
pillow==10.3.0
PyMySQL==1.1.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
regex==2024.4.16
six==1.16.0
typing_extensions==4.11.0
tzlocal==5.2
win32-setctime==1.1.0
yarl==1.9.4
